<hr>
<h2>{{{solEst}}}</h2>
<hr>

<hr>
<ul > 
  <li> PIAI
    <ul>
      {{#each soloEst.[Aplicaciones Industriales IoT (PIAI)] as |hol|}}
        <li>Aplicaciones Industriales IoT (PIAI):
        <ul>
          {{#each hol}}
          <li>
            {{this.NombreCompleto}}
          </li>
          {{/each }}
        </ul>
        </li>
      {{/each }}
    </ul>
    <ul>
    {{#each soloEst.[Bioingeniería: Rehabilitación (PIAI)] as |hol|}}
      <li>Bioingeniería: Rehabilitación (PIAI):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
    <ul>
    {{#each soloEst.[Visión de Máquina (PIAI)] as |hol|}}
      <li>Visión de Máquina (PIAI):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
    <ul>
    {{#each soloEst.[Identificación Sistemas de Eventos Discretos (PIAI)] as |hol|}}
      <li>Identificación Sistemas de Eventos Discretos (PIAI):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
  </li>
  <li> PIET
    <ul>
      {{#each soloEst.[Circuitos Electrónicos para Sistemas IoT (PIET)] as |hol|}}
        <li>Circuitos Electrónicos para Sistemas IoT (PIET):
        <ul>
          {{#each hol}}
          <li>
            {{this.NombreCompleto}}
          </li>
          {{/each }}
        </ul>
        </li>
      {{/each }}
    </ul>
    <ul>
    {{#each soloEst.[Gestión de Redes de Telecomunicaciones (PIET - PIAI)] as |hol|}}
      <li>Gestión de Redes de Telecomunicaciones (PIET - PIAI):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
    <ul>
    {{#each soloEst.[Desarrollo Aplicaciones Móviles (PIET-PIAI-PIS)] as |hol|}}
      <li>Desarrollo Aplicaciones Móviles (PIET-PIAI-PIS):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
    <ul>
    {{#each soloEst.[Recent topics in networking (PIET)] as |hol|}}
      <li>Recent topics in networking (PIET):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
    <ul>
    {{#each soloEst.[Desarrollo Aplicaciones Web (PIET-PIAI-PIS)] as |hol|}}
      <li>Desarrollo Aplicaciones Web (PIET-PIAI-PIS):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
    <ul>
    {{#each soloEst.[Redes de Nueva Generación NGN (PIET)] as |hol|}}
      <li>Redes de Nueva Generación NGN (PIET):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
    <ul>
    {{#each soloEst.[Seguridad en Redes de Información (PIET)] as |hol|}}
      <li>Seguridad en Redes de Información (PIET):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
    <ul>
    {{#each soloEst.[Sistemas de Comunicaciones Móviles 3G/4G (PIET)] as |hol|}}
      <li>Sistemas de Comunicaciones Móviles 3G/4G (PIET):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
    <ul>
    {{#each soloEst.[Sistemas Inalámbricos en Comunicación de Datos (PIET)] as |hol|}}
      <li>Sistemas Inalámbricos en Comunicación de Datos (PIET):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
    <ul>
    {{#each soloEst.[TIC en salud y salud móvil (PIET)] as |hol|}}
      <li>TIC en salud y salud móvil (PIET):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
    <ul>
    {{#each soloEst.[Web Social (PIET)] as |hol|}}
      <li>Web Social (PIET):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
  </li>
  <li> PIS
    <ul>
      {{#each soloEst.[Aprendizaje Colaborativo (PIS)] as |hol|}}
        <li>Aprendizaje Colaborativo (PIS):
        <ul>
          {{#each hol}}
          <li>
            {{this.NombreCompleto}}
          </li>
          {{/each }}
        </ul>
        </li>
      {{/each }}
    </ul>
    <ul>
    {{#each soloEst.[Arquitecturas Empresariales (PIS)] as |hol|}}
      <li>Arquitecturas Empresariales (PIS):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
    <ul>
    {{#each soloEst.[Desarrollo de Software - Web Semántica IoT (PIS)] as |hol|}}
      <li>Desarrollo de Software - Web Semántica IoT (PIS):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
    <ul>
    {{#each soloEst.[Desarrollo de Soluciones Educativas (PIS)] as |hol|}}
      <li>Desarrollo de Soluciones Educativas (PIS):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
    <ul>
    {{#each soloEst.[Bodegas de Datos (PIS)] as |hol|}}
      <li>Bodegas de Datos (PIS):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
    <ul>
    {{#each soloEst.[Informática Forense (PIS - PIET)] as |hol|}}
      <li>Informática Forense (PIS - PIET):
      <ul>
        {{#each hol}}
        <li>
          {{this.NombreCompleto}}
        </li>
        {{/each }}
      </ul>
      </li>
    {{/each }}
    </ul> 
  </li>
</ul>
 
